body {
  background-color: rgb(61, 61, 61);
  color: rgb(170, 170, 170);
  font-family: sans-serif;
  font-size: 12px;
  margin: 0px auto;
  border: 0px;
  padding: 7px;
  min-width: 780px;
  max-width: 1260px;
}


a {
  color: inherit;
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
  text-decoration: none;
}


a:hover {
  color: #fff;
}


#timestamp {
  position: relative;
  float: right;
}


code {
  font-family: Consolas, "Bitstream Vera Sans Mono", "Andale Mono", Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;
  color: rgb(210, 210, 210);
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,0.75), rgba(200,200,200,0)); 
  background-image:    -moz-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,0.75), rgba(200,200,200,0)); 
  background-image:     -ms-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,0.75), rgba(200,200,200,0)); 
  background-image:      -o-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,0.75), rgba(200,200,200,0)); 
}


h1 {
}


p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}


#title {
  text-align: center;
  font-family: 'Lobster', Georgia, Times, serif;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  /*background-color: rgba(0,0,0,.3);*/
}

